$numCols: 4;

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transform: rotate(-5deg);
}

#content {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat($numCols, 1fr);
  grid-gap: 1em;  
}